//FONTS
$font: 'Montserrat', sans-serife;

//COLORS
$dark-blue: #010038;
$blue: #293A80;
$light-blue: #819cc8;
$clear-gray: #e6e3e3;
$orange: #F39422;
$clear-orange: #F5B567;
$white: #FFFFFF;

//FONT SIZE
$size: 2rem;
